<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Web_Origin.Properties.Settings.EkklisiaConnectionString"
            connectionString="Data Source=DESKTOP-1MMBGHG;Initial Catalog=Ekklisia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Web_Origin.Properties.Settings.EkklisiaConnectionString1"
            connectionString="Data Source=DESKTOP-1MMBGHG;Initial Catalog=Ekklisia;Persist Security Info=True;User ID=administrator;Password=z1a2q3w4s5x6"
            providerName="System.Data.SqlClient" />
        <add name="Web_Origin.Properties.Settings.ChurchConnectionString"
            connectionString="Data Source=DESKTOP-1MMBGHG;Initial Catalog=Church;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>